<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="FRONTEND_URL" value="http://localhost:9123"/>
        <env name="WALLET_LEDGER_SECRET_KEY" value="n7pBrVqjkgf+Fcc853cwOHKIvLAS8E8cuKIKdo6a1ZvTzYwgayOUYZXvJUoSqqGLjnl0IQ8ThSM9LaEL/b2U5g=="/>
        <env name="WALLET_LEDGER_PUBLIC_KEY" value="082MIGsjlGGV7yVKEqqhi455dCEPE4UjPS2hC/29lOY="/>
        <env name="WALLET_LEDGER_ENTRIES_PER_BLOCK" value="1"/>
        <env name="SANCTUM_STATEFUL_DOMAINS" value="localhost,localhost:9123"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
